[submodule "webui"]
	path = webui
	url = https://github.com/kyleestes/azure-iot-pcs-remote-monitoring-webui.git
[submodule "cli"]
	path = cli
	url = https://github.com/kyleestes/pcs-cli.git
[submodule "services"]
	path = services
	url = https://github.com/kyleestes/remote-monitoring-services-dotnet
